In [3]:
import gmaps

In [4]:
import gmaps.datasets

locations = gmaps.datasets.load_dataset_as_df('acled_africa')

locations.head()

   latitude  longitude
0   36.4686    2.82890
1   36.6725    2.78940
2   36.5139    2.41780
3   36.7525    3.04197
4   36.5994    2.99440

In [5]:
locations = gmaps.datasets.load_dataset_as_df('acled_africa')
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)

In [6]:
fig

Figure(layout=FigureLayout(height='420px'))